@import "../styles/utilities";

.todo-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  margin: 10px;
  padding: 5px;
  flex-grow: 1;
  border-radius: 7px;
}
.todo-title {
  @include text-elipssis;
  font-size: 22px;
}

.todo-description {
  @include text-elipssis("wrap");
  height: 100px;
}

.todo-card-icons {
  width: 15px;
  height: 15px;
}
