@import "../styles/utilities";
@import "../styles/variables";
.todo-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  margin: 10px;
  padding: 5px;
  flex-grow: 1;
  // border-radius: 7px;
  justify-content: space-between;
}
.todo-title {
  @include text-elipssis;
  font-size: 22px;
}

.todo-description {
  @include text-elipssis("wrap");
}

.todo-card-icons {
  width: 15px;
  height: 15px;
}

.edit-todo-modal-body {
  width: 30rem;
  padding: 10px 20px;
}
