.add-expanse-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    width: 70%;
  }
  .input-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .title-input {
    padding: 0 5px;
    flex-grow: 1;
    border-right: 1px solid #c5c5c5;
  }
  .amount-input {
    padding: 0 10px;
    border-right: 1px solid #c5c5c5;
    flex-grow: 1;
  }
  .category {
    flex-grow: 1;
    width: auto;
    margin: 0 10px;
  }
}
